/* GENERAL STYLES */
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
  margin: 0px;
  padding: 0px !important;
}

h1 {
  font-family: 'Arial', sans-serif;
  font-size: 35px;
  color: black;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-family: 'Arial', sans-serif;
  font-size: 35px;
  color: black;
  text-align: left;
  padding-top: 25px;
}

h3 {
  font-size: 22px;
  padding-top: 15px;
}

/* p {
  font-size: 14px;
} */
/* NAV */
.nav-bg {
  background-color: none;
}

/* BUTTONS */
.btn-group {
  margin: auto;
  width: 100%;
  padding: 10px;
}

.btn-color {
  background-color: lightgray;
}

.btn-color:hover {
  background-color: gray;
}

/* TEXT */
.text {
  text-align: left;
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  margin: auto 0;
}

/* INTRO */
.intro-content {
  padding: 20px;
}


/* FUNDS SECTION */
/* SANKEY SECTION */
/* SPENDING SECTION */
/* VISION SECTION */
